.filter-form {
  padding: 5px 10px;
}

.shared-items-container .filter-form-field {
  width: 70px;
}

.top-radio-button {
  margin-top: 25px;
}

.bottom-radio-button {
  margin-top: 40px;
}

.shared-items-container {
  margin-top: 15px;
}

.activity-button {
  margin: 0 5px;
}
