<div class="filter-form mat-elevation-z8" fxFlex fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="0 1 0">
    <mat-radio-group aria-label="Select an option" (change)="onChangeInputField('isFilterByAddressId', ($event.value === '0'))">
      <mat-radio-button class="top-radio-button" value="0"
                        checked="{{(filter$ | async).isFilterByAddressId === true}}">By address id</mat-radio-button>
      <mat-radio-button class="bottom-radio-button" value="1"
                        checked="{{(filter$ | async).isFilterByAddressId === false}}">By coordinate</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxFlex fxLayout="column">
    <div>
      <mat-form-field class="filter-form-field">
        <input matInput
               placeholder="Address"
               [ngModel]="(filter$ | async).addressId"
               (ngModelChange)="onChangeInputField('addressId', $event)">
        <mat-hint>Use location ID for search</mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row">
      <mat-form-field class="filter-form-field">
        <input matInput
               placeholder="Longitude"
               [ngModel]="(filter$ | async).lon"
               (ngModelChange)="onChangeInputField('lon', $event)">
        <mat-hint>EPSG:4326</mat-hint>
      </mat-form-field>
      <mat-form-field class="filter-form-field">
        <input matInput
               placeholder="Latitude"
               [ngModel]="(filter$ | async).lat"
               (ngModelChange)="onChangeInputField('lat', $event)">
        <mat-hint>EPSG:4326</mat-hint>
      </mat-form-field>
    </div>
    <div class="shared-items-container">
      <mat-form-field class="filter-form-field">
        <input matInput
               placeholder="Radius"
               [ngModel]="(filter$ | async).radius"
               (ngModelChange)="onChangeInputField('radius', $event)">
        <mat-hint>Miles</mat-hint>
      </mat-form-field>
      <button mat-flat-button color="primary" class="activity-button" (click)="searchClicked()">
        <mat-icon>search</mat-icon>Search</button>
      <button mat-flat-button color="primary" class="activity-button" (click)="clearClicked()">
        <mat-icon>crop_5_4</mat-icon>Clear</button>
      <button mat-flat-button color="primary" class="activity-button" disabled (click)="newLocationClicked()">
        <mat-icon>rate_review</mat-icon>New Location</button>
    </div>
  </div>
</div>

