.filter-form {
  padding: 10px;
}

.filter-form-field {
  margin: 0 5px;
}

.top-radio-button {
  margin-top: 20px;
}

.bottom-radio-button {
  margin-top: 40px;
}

.shared-items-container {
  margin-top: 15px;
}

.search-button {
  width: 180px;
  margin: 0 5px;
}
