.map {
  width: 100%;
  height: 100%;
}

::ng-deep
.map .ol-overlaycontainer-stopevent {
  height: 0 !important;
}

.new-location-popup {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px;
  border-radius: 3px;
  border: 1px #ddd solid;
  text-align: center;
}

.popup-header {
  height: 40px;
}

.close-popup-button {
  float: right;
}
