<div id="{{mapElementId}}" class="mat-elevation-z8 map"></div>

<!--TODO: extract popup to component-->
<div id="{{newLocationPopupElementId}}" class="new-location-popup">
  <div class="popup-header">
    <button mat-icon-button class="close-popup-button" (click)="closePopup()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>

    <div>({{coordToLoc(clickedCoordinate$ | async).lng | number:'1.0-3'}}, {{coordToLoc(clickedCoordinate$ | async).lat | number:'1.0-3'}})</div>
    <button mat-flat-button color="primary" (click)="onAddToFilterClicked()">Use in filter</button>
  </div>

  <div *ngIf="!isClickAtExistingPoint">
    <div>
      <mat-form-field>
        <input matInput placeholder="Location name" [(ngModel)]="popupLocationName">
        <mat-hint>Create location with this name</mat-hint>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="onCreateLocation()">Create new</button>
  </div>
</div>
