<div class="list-container mat-elevation-z8">
  <div class="table-container">
    <table mat-table [dataSource]="locations$ | async">
      <ng-container matColumnDef="{{column.ID}}">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row" (dblclick)="onIdDoubleClick(row[column.ID])">{{row[column.ID]}}</td>
      </ng-container>

      <ng-container matColumnDef="{{column.LOCATION_NAME}}">
        <th mat-header-cell *matHeaderCellDef>Location name</th>
        <td mat-cell *matCellDef="let row">{{row[column.LOCATION_NAME]}}</td>
      </ng-container>

      <ng-container matColumnDef="{{column.LONGITUDE}}">
        <th mat-header-cell *matHeaderCellDef>Longitude</th>
        <td mat-cell *matCellDef="let row">{{row[column.LONGITUDE]}}</td>
      </ng-container>

      <ng-container matColumnDef="{{column.LATITUDE}}">
        <th mat-header-cell *matHeaderCellDef>Latitude</th>
        <td mat-cell *matCellDef="let row">{{row[column.LATITUDE]}}</td>
      </ng-container>

      <ng-container matColumnDef="{{column.NEW}}">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-flat-button color="primary" (click)="addNew()">New</button>
        </th>
        <td mat-cell *matCellDef="let row"></td>
<!--        TODO: DELETE, EDIT? actions-->
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
