/* Structure */
.list-container {
    position: relative;
    min-height: 200px;
}

.table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

table {
    text-align: center !important;
    width: 100%;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.mat-header-cell {
    text-align: center;
}


.highlight-row {
  background-color: #dde6ff;
}
