<div class="list-container mat-elevation-z8">
  <div class="table-container">
    <table mat-table [dataSource]="locations$ | async" (mouseleave)="onHoverRow({})">
      <ng-container matColumnDef="{{column.ID}}">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row" (dblclick)="onIdDoubleClick(row[column.ID])">{{row[column.ID]}}</td>
      </ng-container>

      <ng-container matColumnDef="{{column.LOCATION_NAME}}">
        <th mat-header-cell *matHeaderCellDef>Location name</th>
        <td mat-cell *matCellDef="let row">{{row[column.LOCATION_NAME]}}</td>
      </ng-container>

      <ng-container matColumnDef="{{column.LONGITUDE}}">
        <th mat-header-cell *matHeaderCellDef>Longitude</th>
        <td mat-cell *matCellDef="let row">{{row[column.LONGITUDE]}}</td>
      </ng-container>

      <ng-container matColumnDef="{{column.LATITUDE}}">
        <th mat-header-cell *matHeaderCellDef>Latitude</th>
        <td mat-cell *matCellDef="let row">{{row[column.LATITUDE]}}</td>
      </ng-container>

      <ng-container matColumnDef="{{column.NEW}}">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Go to location" (click)="goToLocation(row)">
            <mat-icon>location_searching</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Edit location">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Delete location" (click)="deleteLocation(row[column.ID])">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'highlight-row': (highlightedLocation$ | async).id == row.id}"
          (mouseover)="onHoverRow(row)"></tr>
    </table>
  </div>
</div>
